*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.runwayreal{
    margin-top: -40px;
    /* position: fixed ; */
}

.aeroplane{
    position: relative;
    z-index: 1;
    margin-top: -400px;
    margin-left: -100px;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: airplane 3s linear forwards infinite;
    transform: translate(1000px, -1100px);
}

@keyframes airplane {
    0%{
        transform: translate(-10px);
    }

    25%{
        transform: translateX(200px);
    }

    50%{
        transform: translate(400px, -300px) rotate(-25deg);
    }

    75%{
        transform: translate(800px, -600px) rotate(-20deg);
    }

    100%{
        transform: translate(1000px, -1100px) rotate(-20px);
    }
}
